@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Tailwind can't target this — must use raw CSS */
.bp5-popover2-arrow-fill {
    fill: #012f44 !important;
}
